.embla__container {
    display: flex;
    position: relative;
    touch-action: pan-y pinch-zoom;
}

.embla__slide__img {
    display: block;
    object-fit: cover;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    inset: 0;
}

.embla__slide--visible {
    opacity: 1;
    position: relative;
}

.hero-section {
    height: 100vh;
}